body {
    height: 100vh;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top left, #28eab0, #3ff083);
}

h1 {
    font-family: sans-serif;
    font-size: 50px;
    line-height: 1.3;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-family: sans-serif;
    font-size: 30px;
    line-height: 1.3;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

h3 {
    font-family: sans-serif;
    font-size: 30px;
    line-height: 1.3;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, p {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.3;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #ffffff; 
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: hidden;
    border-radius: 5px;
    height: 20px;
}

.triangle-B-container {
    margin-top: 15px;
}

button {
    width: 145px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.3;
    color: #ffffff; 
    background-color: rgb(40, 128, 76);
    border-radius: 5px;
    border: 1px solid #ffffff;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: rgb(7, 90, 65);
}

/* .result-txt {
    border: 1px solid #ffffff;
} */